### AUTHOR: DEVASHREE KIRAN PAWAR
#### DATE: JUNE 19, 2025

In [1]:
%pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

#### Loading required libraries

In [2]:
# Load required libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

#### Data loading

In [3]:
df =  pd.read_excel('Data/final dataset.xlsx')
df.info()
print(df.head(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23218 entries, 0 to 23217
Columns: 174 entries, Q1 to source
dtypes: float64(170), object(4)
memory usage: 30.8+ MB
            Q1   Q2     Q3               Q4  \
0  Afghanistan  2.0   27.0      Afghanistan
1  Afghanistan  4.0  100.0      Afghanistan
2  Afghanistan  1.0   21.0          Albania
3  Afghanistan  1.0   18.0          Ecuador
4  Afghanistan  2.0   26.0            Spain
5  Afghanistan  4.0   43.0  The Netherlands
6  Afghanistan  2.0   21.0           Turkey
7  Afghanistan  2.0   21.0           Turkey
8  Afghanistan  2.0   22.0           Turkey
9  Afghanistan  2.0   23.0           Turkey

                                                  Q5   Q6   Q7   Q8   Q9  Q10  \
0                                     القدس المفتوحة  1.0  1.0  1.0  1.0  1.0
1                                                456  2.0  2.0  3.0  2.0  4.0
2                                               منيا  1.0  1.0  1.0  1.0  1.0
3  Universidad Indoamerica., Facultad Arquitectur...  2.0  1.0  1.0  1.0  4.0
4                                De vigo universidad  1.0  2.0  2.0  1.0  2.0
5                                                NaN  1.0  1.0  2.0  2.0  2.0
6                            Cumhuriyet Üniversitesi  1.0  1.0  1.0  2.0  2.0
7                            Cumhuriyet üniversitesi  1.0  1.0  1.0  2.0  1.0
8      Sivas cumhuriyet üniversite ,Eğitim Fakültesi  1.0  1.0  1.0  1.0  3.0
9      Sivas cumhuriyet üniversite, Eğitim fakültesi  1.0  1.0  1.0  1.0  1.0

   ...  Q40g  Q40h  Q40i  Q40j  Q40k  Q40l  Q40m  Q40n  Q40o  source
0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN      AR
1  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN      EN
2  ...   3.0   2.0   3.0   4.0   3.0   2.0   2.0   1.0   1.0      EN
3  ...   3.0   3.0   3.0   3.0   3.0   3.0   3.0   3.0   3.0      ES
4  ...   4.0   3.0   4.0   3.0   3.0   3.0   4.0   3.0   4.0      ES
5  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN      EN
6  ...   2.0   4.0   4.0   4.0   4.0   4.0   3.0   3.0   3.0      TR
7  ...   4.0   4.0   4.0   4.0   4.0   4.0   4.0   2.0   4.0      TR
8  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN      TR
9  ...   3.0   3.0   3.0   3.0   3.0   3.0   3.0   3.0   3.0      TR

[10 rows x 174 columns]

#### Data Cleaning and Preprocessing

In [ ]:
# Missing values
print(df.isnull().sum())

# Handle missing values - numerical columns

Q1        1487
Q2         168
Q3         212
Q4         301
Q5         639
          ...
Q40l      5441
Q40m      5444
Q40n      5434
Q40o      5423
source       0
Length: 174, dtype: int64